body {
  margin: 0;
  overflow: hidden;
  background: black;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

video, canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

canvas {
  pointer-events: none;
}